.container {
  max-width:1400px;
  padding:0 25px;
  margin: 0 auto;
}

pre {
  word-wrap: break-word;
  padding: 10px;
  margin: 10px;
  background: #eee;
  line-height: 1.7;
  overflow-x: auto;
}
textarea {
  margin-top: 35px;
  font-family: "Ubuntu Mono",Menlo,Monaco,Consolas,"Courier New",monospace;
  border-width: 0;
  resize: vertical;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -moz-transition: border-color ease-in-out .15s,-moz-box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  display: block;
}